[submodule "submodules/raylib"]
	path = submodules/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "submodules/raygui"]
	path = submodules/raygui
	url = git@github.com:raysan5/raygui.git
[submodule "submodules/logger"]
	path = submodules/logger
	url = git@github.com:gabime/spdlog.git
